<h1>Register a Dance Course</h1>

<form method="POST" action="/courses/create">

  <label for="name" class="form-label">Name:</label>
  <input type="text" name="name" class="form-control w-50" value="{{ course.name }}" placeholder="..." required />

  <label for="dancestyle" class="form-label">Dance Style:</label>
  <input type="text" name="dancestyle" class="form-control w-50" value="{{ course.dancestyle }}" placeholder="..."
    required/>

  <label for="teacher" class="form-label">Teacher:</label>
  <input type="text" name="teacher" class="form-control w-50" value="{{ course.teacher }}" placeholder="..." required />

  <label for="location" class="form-label">Location: </label>
  <input type="text" name="location" class="form-control w-50" value="{{ course.location }}" placeholder="..." required />

  <label for="address" class="form-label">Address:</label>
  <input type="text" name="address" class="form-control w-50" value="{{ course.address }}" placeholder="..." required />

  <label for="level" class="form-label">Level:</label>
  <select class="form-select w-50" value="{{ course.level }}" placeholder="..." required>
    <option>Beginners</option>
    <option>Intermediates</option>
    <option>Professionals</option>
  </select>

  <label for="price" class="form-label">Price:</label>
  <div class="input-group">
    <div class="input-group-text" class="form-control w-10">$</div>
    <input type="number" name="price" class="form-control w-50" value="{{ course.price }}" placeholder="..." required />
  </div>
  <label for="description" class="form-label">Description:</label>
  <input type="text" name="description" class="form-control w-50" value="{{ course.description }}" placeholder="..."
    required />

  <label for="comment" class="form-label">Comment: </label>
  <input type="text" name="comment" class="form-control w-50" value="{{ course.comment }}" placeholder="..." required />

  <label for="time" class="form-label">Time:</label>
  <input type="time" name="time" class="form-control w-50" value="{{ course.time }}" placeholder="..." required />

  <label for="date" class="form-label">Date:</label>
  <input type="date" name="date" class="form-control w-50" value="{{ course.date }}" placeholder="..." required />

  <button class="btn btn-success" type="submit">Create Course</button>
  <a class="btn btn-warning" href="/courses">Back</a>
  </form>