<h1>{{ name }}</h1>

<p><strong>Dance Style:</strong> {{ dancestyle }}</p>
<p><strong>Teacher:</strong> {{ teacher }}</p>
<p><strong>Location:</strong> {{ location }}</p>
<p><strong>Address:</strong> {{ address }}</p>
<p><strong>Level:</strong> {{ level }}</p>
<p><strong>Price:</strong> {{ price }}</p>
<p><strong>Description:</strong> {{ description }}</p>

<a href="/courses">Back</a>
<a href="/courses/{{this._id}}/edit">Edit</a>
<form method="POST" action="/courses/{{_id}}/delete">
    <button>Delete</button>
</form>