<div class="p-3"></div>
<h1>{{ name }}</h1>
<div class="p-3"></div>
<div class="card w-50">
    <p><strong>Dance Style:</strong> {{ dancestyle }}</p>
    <p><strong>Teacher:</strong> {{ teacher }}</p>
    <p><strong>Location:</strong> {{ location }}</p>
    <p><strong>Address:</strong> {{ address }}</p>
    <p><strong>Level:</strong> {{ level }}</p>
    <p><strong>Price:</strong> {{ price }}</p>
    <p><strong>Description:</strong> {{ description }}</p>
    <p><strong>Time:</strong> {{ time }}</p>
    <p><strong>Date:</strong> {{ date }}</p>
</div>
<div class="btn-group">
    <div class="column">
        <a class="btn btn-warning" href="/courses">Back</a>
        <a class="btn btn-primary" href="/courses/{{this._id}}/edit">Edit</a>
    </div>
    <form method="POST" action="/courses/{{_id}}/delete">
        <button class="btn btn-outline-danger">Delete</button>
    </form>
</div>
<div class="p-3"></div>
<p><strong>COMMENTS:</strong></p>
{{#each comments }}
<p>{{this}}</p>
{{/each }}
<form action="/courses/{{_id}}" method="post" class="form d-inline mt-2">
    <label>Share your experience here
        <input class="form-control h-50 w-100" type="text" name="comment" placeholder="Your comment" required>
        <button type="submit" class="btn btn-info login-btn mt-4 ">Post it</button>
    </label>
</form>