<h1>Edit course</h1>
<h2>Edit the course: {{courses.title}}</h2>

<form method="POST" action="/courses/{{courses._id}}/edit">
    <label> Title:
        <input type="text" name="title" value="{{courses.title}}" required />
    </label>

 <label> Dancestyle:
        <textarea name="dancestyle" cols="30" rows="4">{{dancestyle}}</textarea>
    </label>

    <label> Teacher:
        <select name="teacher">
            {{#each teachers}}
                <option value={{this._id}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </label>

    <label> Location:
        <input type="text" name="location" min="1" max="10" value="{{courses.location}}" />
    </label>

     <label> Address:
        <input type="text" name="address" min="1" max="10" value="{{courses.address}}" />
    </label>

    <label> Level:
        <input type="text" name="level" min="1" max="10" value="{{courses.address}}" />
    </label>

    <button type="submit">Save changes</button>
</form>