<h1>Edit Course {{title}}</h1>

<form method="POST" action="/courses/{{ course._id }}/edit">
  <label> Name:
    <input type="text" name="name" value="{{ course.name }}" required/>
  </label>

  <label> Dance Style:
    <input type="text" name="dancestyle" value="{{ course.dancestyle }}" />
  </label>

  <label> Teacher:
    <input type="text" name="teacher" value="{{ course.teacher }}" />
  </label>

  <label> Location:
    <input type="text" name="location" value="{{ course.location }}" />
  </label>

  <label> Address:
    <input type="text" name="address" value="{{ course.address }}" />
  </label>

  <label> Level:
    <input type="text" name="level" value="{{ course.level }}" />
  </label>

  <label> Price:
    <input type="text" name="price" value="{{ course.price }}" />
  </label>

   <label> Description:
    <input type="text" name="description" value="{{ course.description }}" />
  </label>

  <button>Save changes</button>
  <a href="/courses">Back</a>
</form>