<h1>Berlin Dance Courses</h1>

<a href="/courses/create">Add a new course</a>

<ul>
  {{#each courses}}
    <li>
      <a href="/courses/{{ this.id }}">{{ this.name }}</a> - {{ this.dancestyle }} - {{ this.teacher }}
      <form method="POST" action="/courses/{{ this.id }}/delete">
      
      </form>
    </li>
  {{/each}}
